In [27]:
Tasmia = "In the name of Allah, the Most Benoficient, the Most Merciful"
print(Tasmia)

In the name of Allah, the Most Benoficient, the Most Merciful

### Import Libraries

In [28]:
import pandas as pd
from scipy.stats import ttest_ind

### Hypothesis Testing

In [29]:
df = pd.read_csv("grades.csv")
df.columns = [x.lower().strip() for x in df.columns]
df[:5]

,student_id,assignment1_grade,assignment1_submission,assignment2_grade,assignment2_submission,assignment3_grade,assignment3_submission,assignment4_grade,assignment4_submission,assignment5_grade,assignment5_submission,assignment6_grade,assignment6_submission
0,B73F2C11-70F0-E37D-8B10-1D20AFED50B1,92.733946,2015-11-02 06:55:34.282000000,83.030552,2015-11-09 02:22:58.938000000,67.164441,2015-11-12 08:58:33.998000000,53.011553,2015-11-16 01:21:24.663000000,47.710398,2015-11-20 13:24:59.692000000,38.168318,2015-11-22 18:31:15.934000000
1,98A0FAE0-A19A-13D2-4BB5-CFBFD94031D1,86.790821,2015-11-29 14:57:44.429000000,86.290821,2015-12-06 17:41:18.449000000,69.772657,2015-12-10 08:54:55.904000000,55.098125,2015-12-13 17:32:30.941000000,49.588313,2015-12-19 23:26:39.285000000,44.629482,2015-12-21 17:07:24.275000000
2,D0F62040-CEB0-904C-F563-2F8620916C4E,85.512541,2016-01-09 05:36:02.389000000,85.512541,2016-01-09 06:39:44.416000000,68.410033,2016-01-15 20:22:45.882000000,54.728026,2016-01-11 12:41:50.749000000,49.255224,2016-01-11 17:31:12.489000000,44.329701,2016-01-17 16:24:42.765000000
3,FFDF2B2C-F514-EF7F-6538-A6A53518E9DC,86.030665,2016-04-30 06:50:39.801000000,68.824532,2016-04-30 17:20:38.727000000,61.942079,2016-05-12 07:47:16.326000000,49.553663,2016-05-07 16:09:20.485000000,49.553663,2016-05-24 12:51:18.016000000,44.598297,2016-05-26 08:09:12.058000000
4,5ECBEEB6-F1CE-80AE-3164-E45E99473FB4,64.813800,2015-12-13 17:06:10.750000000,51.491040,2015-12-14 12:25:12.056000000,41.932832,2015-12-29 14:25:22.594000000,36.929549,2015-12-28 01:29:55.901000000,33.236594,2015-12-29 14:46:06.628000000,33.236594,2016-01-05 01:06:59.546000000

In [30]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2315 entries, 0 to 2314
Data columns (total 13 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   student_id              2315 non-null   object
 1   assignment1_grade       2315 non-null   float64
 2   assignment1_submission  2315 non-null   object
 3   assignment2_grade       2315 non-null   float64
 4   assignment2_submission  2315 non-null   object
 5   assignment3_grade       2315 non-null   float64
 6   assignment3_submission  2315 non-null   object
 7   assignment4_grade       2315 non-null   float64
 8   assignment4_submission  2315 non-null   object
 9   assignment5_grade       2315 non-null   float64
 10  assignment5_submission  2315 non-null   object
 11  assignment6_grade       2315 non-null   float64
 12  assignment6_submission  2315 non-null   object
dtypes: float64(6), object(7)
memory usage: 235.2+ KB

In [31]:
df.describe()

,assignment1_grade,assignment2_grade,assignment3_grade,assignment4_grade,assignment5_grade,assignment6_grade
count,2315.000000,2315.000000,2315.000000,2315.000000,2315.000000,2315.000000
mean,74.535732,66.849007,60.623197,54.112112,48.618522,43.841452
std,16.353252,15.959210,15.492469,14.687431,13.927054,13.259413
min,14.423297,12.980967,12.307682,9.126146,8.213531,7.392178
25%,63.670100,56.127794,49.866390,43.852636,38.859619,34.828619
50%,77.208365,68.142124,61.307206,54.442888,48.681165,43.172442
75%,87.502146,78.310880,71.292632,63.789234,57.662236,52.086086
max,100.695583,99.936206,99.655813,98.755813,97.571739,97.571739

**Early Finishers: Students who submit assignments earlier**

In [32]:
early_finishers = df[pd.to_datetime(df["assignment1_submission"]) < '2016']
early_finishers.head()

,student_id,assignment1_grade,assignment1_submission,assignment2_grade,assignment2_submission,assignment3_grade,assignment3_submission,assignment4_grade,assignment4_submission,assignment5_grade,assignment5_submission,assignment6_grade,assignment6_submission
0,B73F2C11-70F0-E37D-8B10-1D20AFED50B1,92.733946,2015-11-02 06:55:34.282000000,83.030552,2015-11-09 02:22:58.938000000,67.164441,2015-11-12 08:58:33.998000000,53.011553,2015-11-16 01:21:24.663000000,47.710398,2015-11-20 13:24:59.692000000,38.168318,2015-11-22 18:31:15.934000000
1,98A0FAE0-A19A-13D2-4BB5-CFBFD94031D1,86.790821,2015-11-29 14:57:44.429000000,86.290821,2015-12-06 17:41:18.449000000,69.772657,2015-12-10 08:54:55.904000000,55.098125,2015-12-13 17:32:30.941000000,49.588313,2015-12-19 23:26:39.285000000,44.629482,2015-12-21 17:07:24.275000000
4,5ECBEEB6-F1CE-80AE-3164-E45E99473FB4,64.813800,2015-12-13 17:06:10.750000000,51.491040,2015-12-14 12:25:12.056000000,41.932832,2015-12-29 14:25:22.594000000,36.929549,2015-12-28 01:29:55.901000000,33.236594,2015-12-29 14:46:06.628000000,33.236594,2016-01-05 01:06:59.546000000
5,D09000A0-827B-C0FF-3433-BF8FF286E15B,71.647278,2015-12-28 04:35:32.836000000,64.052550,2016-01-03 21:05:38.392000000,64.752550,2016-01-07 08:55:43.692000000,57.467295,2016-01-11 00:45:28.706000000,57.467295,2016-01-11 00:54:13.579000000,57.467295,2016-01-20 19:54:46.166000000
8,C9D51293-BD58-F113-4167-A7C0BAFCB6E5,66.595568,2015-12-25 02:29:28.415000000,52.916454,2015-12-31 01:42:30.046000000,48.344809,2016-01-05 23:34:02.180000000,47.444809,2016-01-02 07:48:42.517000000,37.955847,2016-01-03 21:27:04.266000000,37.955847,2016-01-19 15:24:31.060000000

**Late Finishers: Students submit their assignment late**

In [33]:
late_finishers = df[pd.to_datetime(df["assignment1_submission"]) > '2016']

**Compare average grades of early_finishers and late_finishers**

In [34]:
print(early_finishers["assignment1_grade"].mean())
print(late_finishers["assignment1_grade"].mean())

74.94728457024304
74.0450648477065

**Null Hypothesis: Both Groups have almost same average grades**

**Alternate Hypothesis: Both Groups have different average grades**

In [35]:
ttest_ind(early_finishers["assignment1_grade"], late_finishers["assignment1_grade"])

Ttest_indResult(statistic=1.3223540853721596, pvalue=0.18618101101713855)

p_value > 0.05; We accept alternate hypothesis

### Check Other Assignment Grades Statistics

In [43]:
def hypothesis(x, y):
    _, pvalue = ttest_ind(x, y)
    if pvalue > 0.05:
        print("Alternate Hypotesis Accepted")
    else:
        print("Null Hypothesis Accepted")

In [49]:
hypothesis(early_finishers["assignment1_grade"], late_finishers["assignment1_grade"])
hypothesis(early_finishers["assignment2_grade"], late_finishers["assignment2_grade"])
hypothesis(early_finishers["assignment3_grade"], late_finishers["assignment3_grade"])
hypothesis(early_finishers["assignment4_grade"], late_finishers["assignment4_grade"])
hypothesis(early_finishers["assignment5_grade"], late_finishers["assignment5_grade"])

Alternate Hypotesis Accepted
Alternate Hypotesis Accepted
Alternate Hypotesis Accepted
Alternate Hypotesis Accepted
Alternate Hypotesis Accepted